!!! 5
%html{'lang' => 'en-US', 'dir' => 'ltr'}
  %head
    %meta{'charset' => 'UTF-8'}/
    %meta{:name => "viewport", :content  => "width=device-width"}
    %title Letterpress-Helper
    %meta{:name => "keywords", :content  => ""}
    %meta{:name => "description", :content  => ""}
    %link{:rel => "stylesheet", :href  => "css/style.css"}
    %link{:rel => "alternate", :typr => "application/rss+xml", :title => "RSS Feed", :href  => "css/style.css"}

    %script{:src  => "js/modernizr.js"}
    %script{:src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    :javascript
      !window.jQuery && document.write('<script src="js/jquery-1.8.2.min.js"><\/script>')
    :javascript
      // Google analytics code
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-00000000-0']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-    analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %header.header
      %ul#tool-bar
        %li.left
          %span Clear
        %li.count-board
          %span.word-left 8
          %span.word-count 15
        %li.right
          %span Submit
    .wrapper
      .result-box
        .result
          %ul.letter-box
            %li
              %span.odd H
            %li
              %span.red E
            %li
              %span.odd L
            %li
              %span L
            %li
              %span.odd O
            %li
              %span W
            %li
              %span.odd O
            %li
              %span R
            %li
              %span.odd L
            %li
              %span D
      .letters-pool
        %ul.letter-box
          %li
            %span.odd A
          %li
            %span B
          %li
            %span.odd C
          %li
            %span.blue D
          %li
            %span.odd L
          %li
            %span M
          %li
            %span.odd A
          %li
            %span B
          %li
            %span.odd.blue.double L
          %li
            %span.blue V
          %li
            %span.odd G
          %li
            %span.red P
          %li
            %span.odd W
          %li
            %span O
          %li
            %span.odd.blue.double H
          %li
            %span.red D
          %li
            %span.odd.red.double R
          %li
            %span F
          %li
            %span.odd D
          %li
            %span E
          %li
            %span.odd F
          %li
            %span A
          %li
            %span.odd I
          %li
            %span X
          %li
            %span.odd D
    %footer.footer
      .copyright 
        Source code on 
        %a.red{:href => "https://github.com/hzlzh/Letterpress-Helper", :target => "_blank"} Github
        \ by 
        %a{:href => "https://github.com/codersnake", :target => "_blank"} @CodeSnake
        \ & 
        %a{:href => "https://twitter.com/hzlzh", :target => "_blank"} @hzlzh
        .tweet-button
          <a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %script{:src  => "js/main.js"}